<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Explore</h3>
                <ul>
                    <li routerLink="/about-us">
                        About
                    </li>
                    <li routerLink="/services">
                        Service
                    </li>
                    <li routerLink="/contact">
                        Contact us
                    </li>
                    <li routerLink="/tracking">
                        Tracking
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="chat">
                    <p>
                        <span>
                            Let’s chat
                        </span>
                        <br>
                        <br>
                        <br>
                        Our team is always looking forward to chatting with you. Don’t hesitate to contact us. Come to
                        us with any questions and we're more than happy to answer them!

                    </p>
                    <div class="row mail">
                        <div class="col-md-12">
                            <div class="inner-addon right-addon">
                                <button class="btn"><i class="fa fa-play"></i></button>
                                <input type="text" class="form-control noselect" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ftr-content">
            <div class="col-md-4">
                <div class="welcome-box">
                    <p class="welcome-message">
                        <span>
                            Paraiso Packing
                        </span>
                        <br>
                        <br>
                        <br>
                        Paraiso Packing has been providing clients with the tools to succeed for over 10 years.<br>
                        We
                        pride ourselves in building strong relationships with our clients. Once you’re <br> a part of
                        our
                        team, we look forward to setting goals for your business and help you accomplish them.

                    </p>
                    <div class="row contact">
                        <div class="col-md-12">
                            <p>
                                <a href="mailto:info@paraisopacking.net" style="color: black;">
                                    <strong>Get more info</strong>
                                </a></p>
                            <p>
                                213 489 3538
                            </p>
                            <p>
                                729 Merchant St <br>
                                Los Angeles CA, 90021
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row social">
            <div class="col-md-12">
                <div class="icons">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </div>
                <p>2020 Paraiso Packing Inc</p>
            </div>
        </div>
    </div>
</div>