<div class="container about">
    <div class="row welcome">
        <div class="col-md-6">
            <div class="">
                <h5 class="welcome-header">About</h5>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                More than a company, we’re a community
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/tape-gun.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    We’re glad you’re here! This business started with one goal in mind, and that is to help you
                    succeed.
                    The fashion industry is filled with a lot of opportunity but a lot of questions as well. We’re here
                    to help you get answers to those questions.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="key-point">
                <span>Key Points</span>
                <ul>
                    <li>
                        Ten years in business
                    </li>
                    <li>
                        Twenty years of experience
                    </li>
                    <li>
                        Dedicated to helping you grow
                    </li>
                    <li>
                        Building strong relationships
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container bridging">
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                Bridging The Gap
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    Starting a business can be confusing and filled with questions. We are here to bridge the gap
                    between you and any obstacles you may face in your new journey.
                </p>
                <p class="welcome-message">
                    The fashion district is very compact. There are many vendors you can choose from. We’ve built
                    relationships with many of them and can guide you to a vendor that will be a perfect fit for your
                    business.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bridging">
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                What We Believe
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    No matter how big or small the order is we ensure that its inspected carefully. Paying attention to
                    the smallest detail goes a long way so we make sure that nothing goes unnoticed.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container bridging">
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                Values We Work By
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="content">
                <ul>
                    <li>
                        1. We Connect The Dots
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        2. It’s All About You
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        3. Goals And Growth
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        4. Communication Is Key
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        5. No Task Is Too Big Or Too Small
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        6. Eyes Always Open
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        7. Forward Thinking
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        8. Here to Build
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        9. Always the helping hand
                        <i class="arrow right"></i>

                    </li>
                    <li>
                        10. No place like home
                        <i class="arrow right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container our-team">
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Meet The Team</span>
        </div>
    </div>
    <ngb-carousel [showNavigationIndicators]="true" [showNavigationArrows]="false">
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-md-12">
                    <div class="founder-image">
                        <img src="./assets/images/founder.png" alt="">
                    </div>
                    <div class="welcome-box">
                        <span class="welcome-header">Ezequiel Sierra</span>
                        <p class="job">Founder</p>
                        <p class="welcome-message">
                            Paraiso Packing started off as a vision. A way to help clients brand themselves in a
                            competitive
                            market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he
                            was a
                            sells representative for some of the most popular vendors in the fashion district. He uses
                            his
                            experience of over 10 years to best guide our clients.

                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-md-12">
                    <div class="founder-image">
                        <img src="./assets/images/marius.png" alt="">
                    </div>
                    <div class="welcome-box">
                        <span class="welcome-header">Erick Sierra</span>
                        <p class="job">New Business Manger</p>
                        <p class="welcome-message">
                            Paraiso Packing started off as a vision. A way to help clients brand themselves in a
                            competitive
                            market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he
                            was a
                            sells representative for some of the most popular vendors in the fashion district. He uses
                            his
                            experience of over 10 years to best guide our clients.
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-md-12">
                    <div class="founder-image">
                        <img src="./assets/images/alexander.png" alt="">
                    </div>
                    <div class="welcome-box">
                        <span class="welcome-header">Grecia Alarcon</span>
                        <p class="job">Founder</p>
                        <p class="welcome-message">
                            Paraiso Packing started off as a vision. A way to help clients brand themselves in a
                            competitive
                            market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he
                            was a
                            sells representative for some of the most popular vendors in the fashion district. He uses
                            his
                            experience of over 10 years to best guide our clients.
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="founder-image">
                <img src="./assets/images/founder.png" alt="">
            </div>
            <div class="welcome-box">
                <span class="welcome-header">Ezequiel Sierra</span>
                <p class="job">Founder</p>
                <p class="welcome-message">
                    Paraiso Packing started off as a vision. A way to help clients brand themselves in a competitive
                    market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he was a
                    sells representative for some of the most popular vendors in the fashion district. He uses his
                    experience of over 10 years to best guide our clients.

                </p>
            </div>
        </div>
    </div> -->
</div>