.navbar {
    background: #f9f7f1;
}
.navbar-brand {    
    width: 60%;
    margin: auto;
    img {
        width: 75%;
    }
}
.nav-link {
    color: black;
}
.navbar-collapse {
    margin-top: 5vh;
}