<nav class="navbar navbar-expand-lg static-top">
  <div class="container">
    <button class="navbar-toggler" type="button" onclick="openNav()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo-long.png" alt="">
    </a>
  </div>
</nav>



<div id="mySidenav" class="sidenav">
  <div class="head-close">
    <span>Explore</span>
    <a class="closebtn" onclick="closeNav()">&times;</a>
  </div>
  <div class="main_nav">
    <a routerLink="/about-us" onclick="closeNav()">About</a>
    <a routerLink="/services" onclick="closeNav()">Services</a>
    <a routerLink="/contact" onclick="closeNav()">Contact Us</a>
    <a routerLink="/tracking" onclick="closeNav()">Track Package</a>
    <a href="https://wms.paraisopackinginc.com/login" target="_blank">Sign-In</a>
  </div>
  <div class="bottom-nav">
    <p>Info@paraisopacking.com</p>
    <p>213 489 3538</p>
    <p>729 Merchant St<br>
      Los Angeles CA, 90021</p>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
  </div>
</div>