<div class="container about-us">
    <div class="row">
        <div class="col-md-4">
            <div class="key-point">
                <span>Key Points</span>
                <ul>
                    <li>
                        Ten years in business
                    </li>
                    <li>
                        Twenty years of experience
                    </li>
                    <li>
                        Dedicated to helping you grow
                    </li>
                    <li>
                        Building strong relationships
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-image">
                <img src="./assets/images/tape-gun.png" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="welcome-box">
                <span class="welcome-header">More than a company,<br>
                    we’re a community</span>
                <p class="welcome-message">
                    Paraiso Packing has been providing clients with the tools to succeed for over 10 years. We pride
                    ourselves in building strong relationships with our clients. With over 20 years of experience in
                    the fashion industry and the Los Angeles fashion district we are capable of pointing our clients in
                    the right direction and answering any questions they may have. Once you’re a part of our team, we
                    look forward to setting goals for your business and help you accomplish them.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bridging">
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Bridging The Gap</span>
        </div>
    </div>
    <div class="row content">
        <div class="col-md-6" style="border-right: 1px solid black;">
            <p>
                Starting a business can be confusing and filled with questions. We are here to bridge the gap between
                you and any obstacles you may face in your new journey.

            </p>
        </div>
        <div class="col-md-6">
            <p>
                The fashion district is very compact. There are many vendors you can choose from. We’ve built
                relationships with many of them and can guide you to a vendor that will be a perfect fit for your
                business.
            </p>
        </div>
    </div>
    <div class="row believe">
        <div class="col-md-6">
            <div class="header">
                <span>What We Believe</span>
            </div>
            <div class="content">
                <p>
                    No matter how big or small the order we ensure that its inspected carefully. Paying attention to
                    the
                    smallest detail goes a long way so we make sure that nothing goes unnoticed.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header">
                <span>Values We Work By</span>
            </div>
            <div class="content">
                <ul>
                    <app-collaps-li [heading]="'1. We Connect The Dots'"></app-collaps-li>
                    <app-collaps-li [heading]="'2. It’s All About You'"> </app-collaps-li>
                    <app-collaps-li [heading]="'3. Goals And Growth'"> </app-collaps-li>
                    <app-collaps-li [heading]="'4. Communication Is Key'"></app-collaps-li>
                    <app-collaps-li [heading]="'5. No Task Is Too Big Or Too Small'"></app-collaps-li>
                    <app-collaps-li [heading]="'6. Eyes Always Open'"> </app-collaps-li>
                    <app-collaps-li [heading]="'7. Forward Thinking'"> </app-collaps-li>
                    <app-collaps-li [heading]="' 8. Here to Build'"></app-collaps-li>
                    <app-collaps-li [heading]="'9. Always the helping hand'"></app-collaps-li>
                    <app-collaps-li [heading]="'10. No place like home'"></app-collaps-li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container team">
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Meet The Team</span>
        </div>
    </div>
    <div class="row founder">
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Ezequiel Sierra</span>
                <p class="job">Founder</p>
                <p class="welcome-message">
                    Paraiso Packing started off as a vision. A way to help clients brand themselves in a competitive
                    market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he was a
                    sells representative for some of the most popular vendors in the fashion district. He uses his
                    experience of over 10 years to best guide our clients.

                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="founder-image">
                <img src="./assets/images/founder.png" alt="">
            </div>
        </div>
    </div>
    <div class="row employees">
        <div class="col-md-6">
            <div class="founder-image">
                <img src="./assets/images/marius.png" alt="">
            </div>
            <div class="welcome-box">
                <span class="welcome-header">Erick Sierra</span>
                <p class="job">New Business Manger</p>
                <p class="welcome-message">
                    Paraiso Packing started off as a vision. A way to help clients brand themselves in a competitive
                    market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he was a
                    sells representative for some of the most popular vendors in the fashion district. He uses his
                    experience of over 10 years to best guide our clients.

                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="founder-image">
                <img src="./assets/images/alexander.png" alt="">
            </div>
            <div class="welcome-box">
                <span class="welcome-header">Grecia Alarcon</span>
                <p class="job">Communications Manager</p>
                <p class="welcome-message">
                    Paraiso Packing started off as a vision. A way to help clients brand themselves in a competitive
                    market. This Idea came to Ezequiel over ten years ago. Prior to starting Paraiso Packing he was a
                    sells representative for some of the most popular vendors in the fashion district. He uses his
                    experience of over 10 years to best guide our clients.

                </p>
            </div>
        </div>
    </div>
    <div class="row employees">
        <div class="col-md-6">
            <div class="founder-image">
                <img src="./assets/images/brooke.png" alt="">
            </div>
            <div class="welcome-box">
                <span class="welcome-header">Cesar Barrera</span>
                <p class="job">Floor Manager</p>
                <p class="welcome-message">
                    Legend has it that he once beat an eagle at a staring contest. Cesar has more than fifteen years of
                    experience in clothing production. His attention to fine detail ensures that all of your merchandise
                    is held to our high standards of production.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="founder-image">
                <img src="./assets/images/clem.png" alt="">
            </div>
            <div class="welcome-box">
                <span class="welcome-header">Andy Hernandez</span>
                <p class="job">Operations Manager</p>
                <p class="welcome-message">
                    Once you come into the doors of Paraiso Packing you’ll be greeted by a big smile. Andy makes sure
                    all of your orders get to us safe and complete. All the information that’s need to ensure that
                    there are no issues go through Andys eyes. He’s the gatekeeper of Paraiso Packing
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container connect">
    <div class="row">
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Connect With Us</span>
                <p class="welcome-message">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <p class="connect-messgae">
                    Our team is always looking forward to chatting with you. Don’t hesitate to contact us. Come to us
                    with any questions and were more than happy to answer them!
                </p>
                <div class="mail">
                    <div class="col-md-12">
                        <div class="inner-addon right-addon">
                            <button class="btn"><i class="fa fa-play"></i></button>
                            <input type="text" class="form-control" placeholder="Email" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>