<div class="container about-us">
    <div class="row">
        <div class="col-md-4">
            <div class="key-point">
                <span>Lacus vel</span>
                <ul>
                    <li>
                        Online tracking system
                    </li>
                    <li>
                        Email notifications
                    </li>
                    <li>
                        Customizeable profile
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-image">
                <img src="./assets/images/two-hand.png" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="welcome-box">
                <span class="welcome-header">Never Miss A Step</span>
                <p class="welcome-message">
                    We believe that in order for us to be happy we need to be on the same page! Yes we want to provide
                    you with top quality services. Yes we want you to cry tears of joy when you receive your
                    merchandise. More importantly we want you to know everything. In order for us to be on the same
                    page we developed our own personal tracking system. This system makes sure you and I both know
                    what’s going on with your merchandise.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bridging">
    <div class="row believe">
        <div class="col-md-6">
            <div class="header">
                <span>How It Works </span>
            </div>
            <div class="content">
                <p>
                    You can now keep track of all of your merchandise every step of the way. From the moment its sent
                    to us from your preferred vendor to the moment we begin to work on the pieces. Once you sign upto
                    our tracking program you’ll receive notifications to your email where you can be with us every step
                    of the way.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header">
                <span>The Benefits</span>
            </div>
            <div class="content">
                <ul>
                    <app-collaps-li [heading]="'1. Check on the status of your order'"></app-collaps-li>
                    <app-collaps-li [heading]="'2. Keep track of all boxes per shipment'"> </app-collaps-li>
                    <app-collaps-li [heading]="'3. Create your own user profile'"> </app-collaps-li>
                    <app-collaps-li [heading]="'4. Receive expected shipping date'"></app-collaps-li>
                    <app-collaps-li [heading]="'5. Upload your own documents'"></app-collaps-li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Already a Member?</span><br>
            <a type="button" class="btn btn-outline-dark" href="https://web.paraisopackinginc.com/" target="_blank">Log
                In</a>
        </div>
    </div>
</div>