<div class="container home">
    <div class="row welcome">
        <div class="col-md-12">
            <div class="">
                <h1 class="welcome-header">Welcome</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image" style="background-image: url('./assets/images/05.jpeg')"></div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    We’re glad you’re here! This business started with one goal in mind, and that is to help you
                    succeed. The fashion industry is filled with a lot of opportunity but a lot of questions as well.
                    We’re here to help you get answers to those questions.
                </p>
            </div>
        </div>
        <div class="col-md-12 welcome-btn">
            <button type="button" class="btn btn-outline-dark">Let's Chat</button>
        </div>
    </div>
</div>
<div class="container about">
    <div class="row welcome">
        <div class="col-md-12">
            <h5 class="welcome-header">About</h5>
        </div>
    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                More than a company,<br> we’re a community
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/tape-gun.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    Take a moment to get to know who we are and what
                    we believe in. Meet our experienced management team
                    and read a little back story from our founder
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <p class="about-value">
                Beliefs / Values /Management Team
            </p>
        </div>
        <div class="col-md-12 welcome-btn" routerLink="/about-us">
            <button type="button" class="btn btn-outline-dark">Learn More</button>
        </div>
    </div>
</div>
<div class="container service">
    <div class="row welcome">
        <div class="col-md-12">
            <h5 class="welcome-header">Service</h5>
        </div>
    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                Take a look at what we <br>can do for you
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/box.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    We get things done and by things we mean a lot of things.<br>
                    We provide you with a wide selection
                    of services. If you want something done that’s not in our list reach out anyway.<br> We’re always up
                    for a challenge and something new.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <p class="about-value">
                Process / List Of Services
            </p>
        </div>
        <div class="col-md-12 welcome-btn" routerLink="/services">
            <button type="button" class="btn btn-outline-dark">How we help</button>
        </div>
    </div>
</div>
<div class="container contact">
    <div class="row welcome">
        <div class="col-md-12">
            <h5 class="welcome-header">Contact</h5>
        </div>
    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                Always busy but never too busy for you
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/mobile-with-hand.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    Communication is a key component to any relationship wether its business or not. We provide
                    ourselves in being accessible any time of the day. Want to know how we can help you out? What are
                    the best places to eat in the fashion district?<br> Contact us!
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <p class="about-value">
                Management / Accounting / New Business
            </p>
        </div>
        <div class="col-md-12 welcome-btn" routerLink="/contact">
            <button type="button" class="btn btn-outline-dark">Let’s Talk</button>
        </div>
    </div>
</div>



<div class="container track">
    <div class="row welcome">
        <div class="col-md-12">
            <h5 class="welcome-header">Track</h5>
        </div>
    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                Stay close from a distance
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/two-hand.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    Sign up to our tracking system and stay up to date with everything coming in and out of our
                    warehouse.<br> Gain total control of your manufacturing process.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <p class="about-value">
                How It Works / Benefits / Log In
            </p>
        </div>
        <div class="col-md-12 welcome-btn">
            <button type="button" class="btn btn-outline-dark" routerLink="/tracking">Sign Up</button>
        </div>
    </div>
</div>