.about-us {
    margin-top: 5rem;
    .key-point {
        position: absolute;
        bottom: 0;
        span {
            font-size: 1.3rem;
            font-weight: 100;
        }
        ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 2rem;
        width: 25vw;
        li {
            margin: 1rem 0 0 0;
            border-bottom: 1px solid #827b6c;
            padding: 0 0 1rem 0;
        }
        }
    }
    .side-image {
        img {
            width: 100%;
        }
    }

    .welcome-box {
        padding-left: 60px;
        position: absolute;
        bottom: 0;
        .welcome-header {
            font-weight: 100;
        }
        .welcome-message {
            margin-top: 20px;
            border-top: 1px solid black;
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
    }
}
.bridging {
    margin-top: 10rem;
    color: #382f1b;

    .welcome-box {
        padding: 0 60px;
        bottom: 0;
        margin-bottom: 7rem;
        .welcome-header {
            font-weight: 100;
            font-size: 3rem;
        }
        .mail {
            margin-top: 2rem;
            border-top: 1px solid black;
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
        .team-desc {
            margin-top: 2rem;
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
    }
    .inner-addon { 
        position: relative; 
        width: 65%;
        padding: 0 0 0 60px;
    }
    .inner-addon .btn {
        position: absolute;
        padding: 2px;
        background: black;
        color: white;
        width: 40px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .left-addon .btn  { left:  0px;}
    .right-addon .btn { right: 0px;}
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
    input {
        background: transparent;
        border-color: black;
        border-radius: 40px;
        padding-left: 30px;
        height: 30px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: red;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: red;
    }
    .larger-header {
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            font-weight: 500;
            font-size: 5rem;
            margin: 5rem auto;
    }
}