.about-us {
    margin-top: 140px;
    .row {
        position: relative;
        .cont_head{display: none;}
        @media (min-width:992px){
           .cont_head {
            position: absolute;
            top: -86px;
            font-size: 120px;
            left: 30px;
            z-index: 1;
            display:block;
        } 
        }
        @media (min-width:1200px){
          .cont_head {
            position: absolute;
            top: -86px;
            font-size: 150px;
            left: 30px;
            z-index: 1;
           display:block;
        }      
        }
    }
    .key-point {
        padding-left: 60px;
        span {
            font-size: 1.5rem;
            font-weight: 600;
        }
        ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 30px;
       li {
            border-bottom: 1px solid #827b6c;
            font-size: 14px;
            padding: 10px 0 10px 0;
        }
            li:first-child {border-top: 1px solid #827b6c;}
        }
    }
    .side-image {
        img {
            width: 100%;
        }
    }

    .welcome-box {
        padding-left: 0px;
        margin-bottom: 60px;
        @media (max-width:1199px){margin-bottom: 45px;}
        .welcome-header {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .welcome-message {
            margin-top: 30px;
            border-top: 1px solid black;
            padding-top: 10px;
            font-size: 12px;
        }
    }
}
.bridging {
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: #382f1b;

    .welcome-box {
        padding: 0 60px;
        bottom: 0;
        margin-bottom: 5rem;
        .welcome-header {
            font-weight: 100;
            font-size: 3rem;
        }
        .mail {
            margin-top: 2rem;
            border-top: 1px solid black;
            padding-top: 25px;
            font-size: 17px;
            text-align: center;
            a {
              border: 1px solid black;
              padding: 5px 25px;
              border-radius: 20px;
              font-size: 14px;
              margin-top: 2rem;
              color: black;
              img {
                width: 25px;
                margin-right: 10px;
              }
            }
        }
        .team-desc {
            margin-top: 2rem;
            padding-top: 10px;
            
            font-size: 14px;
        }
    }
    .inner-addon { 
        position: relative; 
        width: 65%;
        padding: 0 0 0 60px;
    }
    .inner-addon .btn {
        position: absolute;
        padding: 2px;
        background: black;
        color: white;
        width: 40px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .left-addon .btn  { left:  0px;}
    .right-addon .btn { right: 0px;}
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
    input {
        background: transparent;
        border-color: black;
        border-radius: 40px;
        padding-left: 30px;
        height: 30px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: red;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: red;
    }
    .larger-header {
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            font-weight: 500;
            font-size: 100px;
            margin: 5rem auto;
    }
    a.left-link, a.right-link{
         position: absolute;
         top: 40%;
         z-index: 1;
         color: #b87d47;
         text-decoration: underline;
      }
          a.left-link{
            left: -5%;
            transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          }
          a.right-link{
            right: -5%;
            transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          }
}

.home-slider {
    &:hover {
      .slick-prev, .slick-next {
        transform: scale(1.8);
        left: 15px;
      }
      .slick-next {
        right: 15px;
        left: unset;
      }
    }
  }
  .slick-instagram {
    margin-bottom: -5px;
  }
  
  .instagram-box {
    position: relative;
    background-color: #3d72f1;
    overflow: hidden;
  
    img {
      width: 100%;
    }
  
    .overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(#3d72f1, .5);
      top: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(3) rotate(90deg);
  
      i {
        font-size: 60px;
        color: white;
      }
    }
  
    &:hover {
      .overlay {
        opacity: 1;
        transition: .5s ease;
        transform: scale(1) rotate(0deg);
      }
    }
  }
  .social {
    padding-top: 5rem;
    text-align: center;
    font-size: 18px;
    a {
      color: black;
    }
  }