<div class="container about-us">
    <div class="row">
        <div class="col-md-4">
            <div class="key-point">
                <span>Key Points</span>
                <ul>
                    <li>
                        We Want You To Create A Brand
                    </li>
                    <li>
                        Sixteen Services To Choose From
                    </li>
                    <li>
                        Four Step Manufacturing Process
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-image">
                <img src="./assets/images/box.png" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="welcome-box">
                <span class="welcome-header">The Power Of Branding</span>
                <p class="welcome-message">
                    When Paraiso Packing started not only did we want to help the new business owner, we wanted them
                    to create a brand. We realized that a lot of boutiques and stores were having a hard time
                    establishing themselves. All of our services are made to help you brand your company. When your
                    clothes hit the racks they’ll instantly know it’s you.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container bridging">
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Bridging The Gap</span>
        </div>
    </div>
    <div class="row believe">
        <div class="col-md-6 first">
            <div class="content">
                <ul>
                    <app-collaps-li [heading]="'Private Labeling'"></app-collaps-li>
                    <app-collaps-li [heading]="'Rush Label'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Sample Picking'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Hem Tag'"></app-collaps-li>
                    <app-collaps-li [heading]="'Polly Bag'"></app-collaps-li>
                    <app-collaps-li [heading]="'Hanger Strap removal'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Size Ticket'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Care Lbael'"></app-collaps-li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 second">
            <div class="content">
                <ul>

                    <app-collaps-li [heading]="'Removal of Pins'"></app-collaps-li>
                    <app-collaps-li [heading]="'Consumer Benefits'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Tagging'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Hangers'"></app-collaps-li>
                    <app-collaps-li [heading]="'Damadge Check'"></app-collaps-li>
                    <app-collaps-li [heading]="'Bar Code Sticker'"> </app-collaps-li>
                    <app-collaps-li [heading]="'Pallet'"> </app-collaps-li>
                    <app-collaps-li [heading]="' Merchandise Clean up'"></app-collaps-li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container process">
    <div class="row larger-header">
        <div class="col-md-12">
            <span>Process</span>
        </div>
    </div>
    <div class="row working">
        <div class="col-md-3">
            <img src="./assets/images/icon-images/vector-smart-object.png" alt="">
            <h5>Order Your Merchandise</h5>
            <p class="welcome-message">
                Wether you’re a designer yourself and have a collection of clothes or want to shop from the fashion
                district we accept a wide range of garments. From denim to handbags and even shoes.

            </p>
        </div>
        <div class="col-md-3">
            <img src="./assets/images/icon-images/warehouse.png" alt="">
            <h5>Send It To Us</h5>
            <p class="welcome-message">
                Space is not an issue. With over 15,000 square feet we can accommodate to any volume of merchandise.
                Wether its being sent in boxes or palettes we are not limited.

            </p>

        </div>
        <div class="col-md-3">
            <img src="./assets/images/icon-images/working.png" alt="">
            <h5>Send It To Us</h5>
            <p class="welcome-message">
                After we check your merchandise and make sure there are no damages from the vendor or missing pieces we
                get to work! On average it takes our team 3 to 5 days to finish servicing your garments. We ship them
                upon the day of completion.
            </p>

        </div>
        <div class="col-md-3">
            <img src="./assets/images/icon-images/truck.png" alt="">
            <h5>Send It To Us</h5>
            <p class="welcome-message">
                Once your merchandise has been shipped we will send you a tracking number so you know when to expect
                your merchandise.
            </p>
        </div>
    </div>
</div>
<div class="container quote">
    <div class="row">
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Request a Quote</span>
                <p class="mail">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <p class="team-desc">
                    Come and chat with one of our representatives and see how we can help your business grow. We accept
                    clients of all sizes. Wether you just took the first step into starting your business or have years
                    in the industry we’re here to help.
                </p>
            </div>

            <div class="inner-addon right-addon">
                <button class="btn"><i class="fa fa-play"></i></button>
                <input type="text" class="form-control" placeholder="Email" />
            </div>
        </div>
    </div>
</div>