/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: #f9f7f1;
    font-family: Signo;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.carousel-indicators {
    bottom: -3rem !important;
}
.carousel-indicators li {
    background-color: #757575 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
// .carousel-indicators .active {
//     background: white !important;
// }