<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Paraiso Packing</h4>
        <p class="abt-p">Paraiso Packing has been providing clients with the tools to succeed for over 10 years. We
          pride ourselves in building strong relationships with our clients. Once you’re a part of our team, we look
          forward to setting goals for your business and help you accomplish them.</p>
        <div class="row">
          <div class="col-md-6">
            <p><strong>729 Merchant St <br>
                Los Angeles CA, 90021</strong></p>
          </div>
          <div class="col-md-6">
            <!-- <p><strong>info@paraisopacking<br> -->
            <p>
              <a href="mailto:info@paraisopacking.net" style="color: black;">
                <strong>Get more info
                  <br>
                  213 489 3538</strong>
              </a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pl">
        <h4>Explore</h4>
        <ul>
          <li><a routerLink="/about-us">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/tracking">Track Package</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Let’s chat</h4>
        <p>Our team is always looking forward to chatting with you. Don’t hesitate to contact us. Come to us with any
          questions and we're more than happy to answer them!</p>
        <div class="subscribe">
          <input type="text" placeholder="Email">
          <button type="submit"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-md-12">
        <span><a href="https://www.instagram.com/paraisopacking/" target="_blank"><i class="fa fa-instagram"
              aria-hidden="true"></i></a></span>
        <span><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></span>
        <span class="pull-right">2020 Paraiso Packing Inc</span>
      </div>
    </div>
  </div>
</footer>