
.about {
    margin-top: 5rem;
    .banner-image {
        width: 100%;
        img {   
            width: inherit;
            object-fit: contain;
        }
    }
    .welcome {
        .col-md-6 {
            width: 50%;
        }
        .welcome-header {
            font-weight: 400;
            margin-bottom: 2rem;
        }
    
        .welcome-header::after {
            content: " ";
            display: block;
            position: absolute;
            height: 1px;
            background: black;
            width: 15%;
            left: 55%;
            top: calc(50% - 15px);
        }
    }
    .t-word {
        margin-bottom: 2rem;
        .col-md-12 {    
            border-bottom: 1px solid black;
            margin: 0px 15px 0 20px;
            padding: 0;
            padding-bottom: 10px;
            span {
                font-size: 1.6rem;
            }
        }
    }
    .welcome-box {
        .welcome-message {
            margin-top: 50px;
            border-top: 1px solid black;
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
    }
    .welcome-btn {
        text-align: center;
        display: block;
        margin-top: 2rem;
        .btn {    
            padding: 5px;
            font-size: 10px;
            width: 40%;
            border-radius: 8px;
        
        }
    }
    .about-value {
        padding: 15px 0 15px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .key-point {
        margin: 5rem 0;
        span {
            font-size: 1.3rem;
            font-weight: 100;
        }
        ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 2rem;
        border-top: 1px solid black;
        li {
            margin: 1rem 0 0 0;
            border-bottom: 1px solid #827b6c;
            padding: 0 0 1rem 0;
        }
        }
    }
}
.bridging {
    margin-top: 5rem;
    color: #382f1b;

    .welcome-box {
        bottom: 0;
        margin-bottom: 3rem;
        .welcome-header {
            font-weight: 100;
            font-size: 2rem;
        }
        .mail {
            margin-top: 2rem;
            border-top: 1px solid black;
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
        .team-desc {
            padding-top: 10px;
            letter-spacing: 1.2px;
            font-size: 12px;
        }
    }
    .inner-addon { 
        position: relative; 
    }
    .inner-addon .btn {
        position: absolute;
        padding: 2px;
        background: black;
        color: white;
        width: 40px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .left-addon .btn  { left:  0px;}
    .right-addon .btn { right: 0px;}
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
    input {
        background: transparent;
        border-color: black;
        border-radius: 40px;
        padding-left: 30px;
        height: 30px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        opacity: 1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: red;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: red;
    }
    .larger-header {
            text-align: center;
            padding: 1rem 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            font-weight: 400;
            font-size: 3rem;
            margin: 5rem auto;
    }
}