<div class="container about">
    <div class="row welcome">
        <div class="col-md-12">

            <h5 class="welcome-header">Contact</h5>

        </div>

    </div>
    <div class="row t-word">
        <div class="col-md-12">
            <span>
                We’re In A Relationship
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-image">
                <img src="./assets/images/mobile-with-hand.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="welcome-box">
                <p class="welcome-message">
                    You’ve heard this about a million times but let us make it a million and one. Communication is the
                    biggest component in making any relationship fruitful. If you decide to work with us guess what?
                    We’re in a relationship and we’re here for you! We’re only a phone call or email away no matter what
                    department you’re trying to reach.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="key-point">
                <span>Key Points</span>
                <ul>
                    <li>
                        Quick response
                    </li>
                    <li>
                        Extremely accessible
                    </li>
                    <li>
                        Reach out any time of the day
                    </li>
                    <li>
                        Team is ready to help out
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container bridging">
    <div class="row">
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Accounting</span>
                <p class="mail">
                    <!-- accounting@paraisopacking.com -->
                    <a href="mailto:invoicing@paraisopacking.net" target="_blank">
                        <img src="./assets/images/Icons/shakehands-small.png" alt="">
                        We’re here to help
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Customer Care</span>
                <p class="mail">
                    <!-- customer.care@paraisopacking.com -->

                    <a href="mailto:management@paraisopacking.net" target="_blank">
                        <img src="./assets/images/Icons/star-small.png" alt="" style="width: 20px;">
                        We have answers
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">New Business</span>
                <p class="mail">
                    <!-- new.business@paraisopacking.com -->

                    <a href="mailto:info@paraisopacking.net" target="_blank">
                        <img src="./assets/images/Icons/love-small.png" alt="" style="width: 20px;
                        vertical-align: middle;">
                        Welcome to the team
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Management </span>
                <p class="mail">
                    <!-- management@paraisopacking.com -->

                    <a href="mailto:grecia@paraisopacking.net" target="_blank">
                        <img src="./assets/images/Icons/warning-small.png" alt="" style="width: 20px;
                        vertical-align: middle;">
                        It’s really important
                    </a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="welcome-box">
                <span class="welcome-header">Let’s Chat</span>
                <p class="team-desc">
                    Our team is always looking forward to chatting with you. Don’t hesitate to contact us. Come to us
                    with any questions and were more than happy to answer them!
                </p>
            </div>
        </div>
        <div class="col-md-6">


            <div class="inner-addon right-addon">
                <button class="btn"><i class="fa fa-play"></i></button>
                <input type="text" class="form-control" placeholder="Email" />
            </div>
        </div>
    </div>
    <!-- <div class="row larger-header">
        <div class="col-md-12">
            <span>Follow Us</span>
        </div>
    </div>
    <div class="row instagram-header">
        <div class="col-md-12">
            <ngb-carousel [showNavigationIndicators]="true" [showNavigationArrows]="false">
                <ng-container *ngFor="let insta of instagram">
                    <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="founder-image">
                                    <img [src]="insta.images" alt="" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </ngb-carousel>
        </div>
    </div> -->
</div>